<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  
  <appSettings>
    <add key="ConfigurationType" value="XML"/>
    <!-- configuration data needed for ActiveDirectorySearch in FPASS V5  -->
    <add key="LdapSearch.UseLdap" value="true"/>
    <add key="LdapSearch.ServerName" value="dcpta5.pta.de"/>
    <add key="LdapSearch.ServerPort" value="389"/>
    <add key="LdapSearch.SSL" value="false"/>
    <add key="LdapSearch.ConnAuthType" value="2"/>
    <add key="LdapSearch.LdapProtocolVersion" value="3"/>
    <add key="LdapSearch.InvalidCredentialsString" value="credential"/>
    <add key="LdapSearch.BindUserPrefix" value=""/>
    <add key="LdapSearch.BindUserBaseDn" value=""/>
    <add key="LdapSearch.SearchDomain" value="LDAP://dc=pta,dc=de"/>
    <add key="Email.Active" value="true"/>
    <add key="Email.Sender" value="fpassv51@pta.de"/>
    <add key="Email.Subject" value="Erinnerung: Der Zutritt ihrer FFMA läuft bald ab."/>
    <add key="Email.TestUser" value="mundy"/>
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp>
        <network host="exchange.pta.de" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>
