<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="ConfigurationType" value="XML"/>
    <!-- configuration data needed for ActiveDirectorySearch in FPASS V5  -->
    <add key="LdapSearch.UseLdap" value="true"/>
    <add key="LdapSearch.ServerName" value="svrpddc1.pta.de"/>
    <add key="LdapSearch.ServerPort" value="389"/>
    <add key="LdapSearch.SSL" value="false"/>
    <add key="LdapSearch.ConnAuthType" value="2"/>
    <add key="LdapSearch.LdapProtocolVersion" value="3"/>
    <add key="LdapSearch.InvalidCredentialsString" value="credential"/>
    <add key="LdapSearch.BindUserPrefix" value=""/>
    <add key="LdapSearch.BindUserBaseDn" value=""/>
    <add key="LdapSearch.SearchDomain" value="LDAP://dc=pta,dc=de"/>
    <add key="LdapSearchDialog.CredentialsNeeded" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
